body{
    background-color: #EFF8FF;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  h1{
    font-size: 65px;
    margin: 0;
    font-family: 'Sacramento', cursive;
  }
  h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    color: #47597E;
  }
  h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #185ADB;
  
  
  }
  
  h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
      color: #47597E;
      text-align: left;
      margin-left: 10rem;
  }
  
  h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
      text-align: left;
      margin-left: 10rem;
    margin-right: 15rem;
  }
  
  hr{
    border-style:none;
    border-top-style: dotted;
    border-color: #A6A9B6;
    border-width: 5px;
    width: 5%;
    margin-top: 20px;
  }
  
  p{
    line-height: 2;
  }
  
  a{
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  .text p{
    font-size: 25px;
    margin-top: 0;
  }
  
  .middle-container p{
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
  }
  .container{
    position: relative;
    height:550px;
    width: 100%;
    background-color: #D7E9F7;
  
  }
  .text{
     position: absolute;
     left: 0;
     padding-top: 200px;
     padding-left: 200px;
     margin-right: 0;
     margin-left: 0;
     background-color: #D7E9F7;
  }
  .photo{
  
     position: absolute;
     left:1005px;
     padding-top: 75px;
     padding-left: 50px;
     margin-right: 0;
     margin-left: 0;
     background-color: #D7E9F7;
  }
  
  .footer{
      background-color: #6D8299;
      padding: 50px 0 20px;
  }
  
  .bottom-container{
    background-color: #D7E9F7;
  }
  
  .skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
  }
  
  .chilli-img{
    width: 5%;
    float: right;
    margin-right: 20px;
  }
  
  .drawing-img{
    width: 25%;
    float:right;
  }
  
  .laptop-img{
    width: 25%;
    float: right;
    margin-left:30px;
  }
  
  .about-me-desc{
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .myHobbies{
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
  }
  
  .mySkills{
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .myBlogs{
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .contact{
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .btn {
     background: #6D8299;
     background-image: -webkit-linear-gradient(top, #6D8299, #6B7AA1);
     background-image: -moz-linear-gradient(top, #6D8299, #6B7AA1);
     background-image: -ms-linear-gradient(top, #6D8299, #6B7AA1);
     background-image: -o-linear-gradient(top, #6D8299, #6B7AA1);
     background-image: -webkit-gradient(to bottom, #6D8299, #6B7AA1);
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     border-radius: 10px;
     color: #FFFFFF;
     font-family: 'Montserrat', sans-serif;
     font-size: 15px;
     font-weight: 100;
     padding: 10px;
     text-shadow: 1px 1px 10px #000000;
     border: solid #6D8299 1px;
     text-decoration: none;
     display: inline-block;
     cursor: pointer;
     text-align: center;
     margin-bottom: 10px;
  }
  
  .btn:hover {
     border: solid #6D8299 1px;
     background: #6B7AA1;
     background-image: -webkit-linear-gradient(top, #6B7AA1, #6D8299);
     background-image: -moz-linear-gradient(top, #6B7AA1, #6D8299);
     background-image: -ms-linear-gradient(top, #6B7AA1, #6D8299);
     background-image: -o-linear-gradient(top, #6B7AA1, #6D8299);
     background-image: -webkit-gradient(to bottom, #6B7AA1, #6D8299);
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     border-radius: 10px;
     text-decoration: none;
  }
  
  .container {
      padding: 1rem;
  }
  
  .container-center {
      max-width: 500px;
      margin: auto;
  }
  
  .nav-width {
  
    max-width: 1150px;
    margin: 0;
  }
  .navigation {
      background: #6D8299;
      color: white;
      padding: 1rem;
      height: 70px;
      margin-bottom: 0;
      padding-bottom: 0;
  }
  
  .navigation .link-active {
      font-weight: bold;
  }
  
  .navigation .nav-brand {
      font-weight: bold;
      font-size: 1.2rem;
      text-align: left;
  }
  
  .navigation .nav-pills {
      text-align: right;
  }
  
  .navigation .Link {
      color: white;
      margin-bottom: 0;
      padding-bottom: 0;
  }
  .list-non-bullet {
      list-style: none;
  }
  
  .list-item-inline {
      display: inline;
  }
  
  .link-secondary {
      border: 1px solid #6B7AA1;
      border-radius: 0.4rem;
      color: #6B7AA1;
      padding: 10px;
    }
  
    .link-secondary:hover {
      background-color: #506D84;
      border-radius: 0.4rem;
      transition-duration: .5s;
      color: white;
      }
  
  .link-hover a:hover {
      background-color: #506D84;
      border-radius: 0.4rem;
      transition-duration: .5s;
      padding: 10px;
  }
  
  .section {
      padding: 1rem 1rem 3rem 1rem;
      text-align: left;
  
  }
  
  .section-pro {
      padding: 0 2rem 3rem 0;
  }
  
  .blog-para{
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 10rem;
    line-height: 1.25;
    margin-top: 1.5rem;
  }
  
  .blog-heading{
    margin: auto;
    text-align: left;
    margin-left: 10rem;
    margin-top: 3rem;
  }